<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Se déconnecter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <tr>
                    <th> Titre</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commande of produitsCommandes; let i = index">
                    <td>{{commande.produit.title}}</td>
                    <td>{{commande.produit.prix}}</td>
                    <td>{{commande.quantite}}</td>
                    <td>
                        <button (click)="deleteCommande(i)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
        Prix Total : {{prixTotal}}
        <br>
        <button (click)="deleteBasket()">Tout supprimer</button>
        <br>
        <a [routerLink]="['/list-product']" class="btn btn-link">Continuer le shopping</a>
        <br>
        <a [routerLink]="['/payment']" class="btn btn-link">Effectuer la commande</a>
    </div>
</div>