<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a routerLink="/basket" routerLinkActive="active">Panier</a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Se déconnecter</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Genre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produit of produits ">
                    <td>{{produit.title}}</td>
                    <td>{{produit.auteur}}</td>
                    <td>{{produit.genre}}</td>
                    <td>
                        <a routerLink="/product-sheet/{{produit.id}}" routerLinkActive="active">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>